*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body{
    height: 100vh;
    width: 100%;
}
.login{
    border: none;
    background-color: none;
    background-color: transparent;
    color: #343a40 ;
}

.carousel-item{
    background: no-repeat center center scroll;
    background-size: cover;
}
nav{
    background: transparent;
    background-color:#457aaf;
}
.fmly{
    font-family:'Mukta', sans-serif;
    font-weight: 100;
    font-size: 32px;
}
.carousel-item{
    height: 80vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size:cover;
}
.carousel-caption{
    bottom: 600px;
    padding-bottom: 100px;
}
.carousel-caption h5{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family:'Times New Roman', Times, serif;
   color:aliceblue;
}
.clr{
    background-color:transparent;
   
}

.bn{
margin-bottom: 200px;
border: 2px solid lightblue;
}
.img1{
    background: url(image/pic2.jpg);
    color:white;
    background-repeat: no-repeat;
    /* height: 295px; */
    background-size: cover;
}
.img2{
    background: url(image/pic1.jpg);
    background-repeat: no-repeat;
    color:white;
    background-position:center;
    /* height: 100%; */
    /* width: 100%; */
    background-size: cover;
    /* position: relative; */
  
}

.img3{
    /* height: 295px; */
    background-color: #007bff;
   color: white;
}
.read{
    border: none;
    background-color: #2196f3;
    color: white;
}
.card-text {
    color:#999;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.9;

}
.img4{
    /* background: url(cabin.jpg) fixed; */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(image/cabin.jpg) fixed;
    background-size: cover;
    height: 45vh;
    background-repeat: no-repeat;
    color: white;
}
.gray{
    color: gray;
}
.icon{
    font-size: 2.5rem;
    padding-left: 15px;
    padding-right: 15px;
    height: 10vh;
    border-radius: 5px;
    color: white;
}
.gap{
    gap: 120px;
}
.gap1{
    gap: 163px;
}
.gap2{
    gap: 172px;
}
.rm{
    border: none;
    color: #2196f3;
    background-color:transparent;
}
.img5{
    /* background: fixed url(heart.png); */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(image/heart.png) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    color: white;
   font-weight:500;
 }

.img6{
    /* background: fixed url(cabin.jpg); */
    color: white;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
   background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(image/cabin.jpg) fixed;
}
.big{
    font-size: 3.5rem;
    padding-right: 30px;
}
.subscribe{
    color: white;
    border: none;
    background-color: #d84315;
    padding: 17px 33px;
}
.clr2{
    color: #d84315;
}
footer .container p {
    text-align: center;
    
}

@media (max-width:568px) {
    .first-nav{
      display: none;
    }
    .carousel-inner{
        height:50vh;
        margin-bottom: 30px;
    }
    .img4{
        height: 70vh;
        margin-bottom: 0px;
    }
    .img5{
        height: 95vh;
    }
    .img6{
        height: 70vh;
      
    }
    .img6 p,h4{
        text-align:start;
        padding-left: 5px;
    }
    .big{
        font-size:1.5rem;
        padding-right: 30px;
    }
    .input{
        padding:0 10px;
    }
    .input-section{
        display: flex;
        justify-content: center;
    }
    
    .footer-icons{
        display: flex;
        justify-content: center;
    }
    footer .container p{
        font-size: 10px;
        text-align: center;
    }
    .subscribe{
        padding:0px 10px;
    }
}   